<ion-header mode="ios">
  <ion-toolbar>
    <ion-title><ion-icon name="person-outline"></ion-icon>PERFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   
  <ion-item detail="true" routerLink="informacoes" class="space">
    <ion-icon name="document-text-outline"></ion-icon>
    <ion-label>Informações pessoais</ion-label>
  </ion-item>

  <ion-item detail="true" routerLink="senha">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-label>Alterar senha</ion-label>
  </ion-item>

  <ion-item detail="true" routerLink="termos">
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-label>Termos e privacidade</ion-label>
  </ion-item>

  <ion-item detail="true" (click)="openSair()" class="space">
    <ion-icon name="power-outline"></ion-icon>
    <ion-label>Sair</ion-label>
  </ion-item>

  <div *ngIf="sair" class="align-container">
    <div class="left-container">

    </div>
  </div>

</ion-content>
